*
  text-align: center

table
  border-collapse: collapse
  margin: auto
  &, & *
    border: solid
  th, td
    padding: 5px


.frame
  display: flex
  flex-flow: column
  width: 80%
  margin: auto !important
  *
    margin: 5px

.bigInput
  height: 100px

.card
  border: solid
  border-radius: 5px
  padding: 5px

#commentSection
  display: flex
  flex-flow: column-reverse