.red
  background-color: #f00
.blue
  background-color: #00f
.soylediagramh, .soylediagramv
  .soyle
    display: flex
    & > *
      height: 40px
      width: 40px
      span
        background-color: rgba(0,0,0,0.2)
        padding: 2px
        border-radius: 2px
        text-align: center
        color: white
        text-shadow: gray 1px 1px
        text-overflow: ellipsis

    .soy1
      background-color: saddlebrown
      border-radius: 2px 0 0 2px
    .soy2
      background-color: gray
      border-radius: 0 2px 2px 0
    .soy3
      background-color: yellow
      border-radius: 0 2px 2px 0
.soylediagramh
  display: flex
  justify-content: space-around
  li
    display: flex
    flex-flow: column-reverse
    align-items: center
  .soyle
    display: flex
    flex-flow: column
    *
      display: flex
      align-items: end
      border-radius: 2px

.soylediagramv
  display: block
  li
    flex-flow: row
    .soynavn
      width: 100px
  .soyle
    display: flex
    flex-flow: row
    *
      display: flex
      width: 40px
      justify-content: center
      align-items: center
